@model SinExWebApp20273938.ViewModels.RegisterCustomerViewModel

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalInformation.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.FirstName, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalInformation.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.PhoneNumber, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.EmailAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Address Information</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalInformation.Building, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.Building, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.Building, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalInformation.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PersonalInformation.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.City, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.ProvinceCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.PersonalInformation.ProvinceCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.ProvinceCode, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PersonalInformation.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Credit Card Information</h4>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalInformation.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PersonalInformation.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.Type, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PersonalInformation.CardNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.CardNumber, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.SecurityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.PersonalInformation.SecurityNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.SecurityNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalInformation.CardholderName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.PersonalInformation.CardholderName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.CardholderName, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.ExpiryMonth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.PersonalInformation.ExpiryMonth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.ExpiryMonth, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.PersonalInformation.ExpiryYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.PersonalInformation.ExpiryYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PersonalInformation.ExpiryYear, "", new { @class = "text-danger" })
            </div>
        </div>
